{
	"extends": [
		"eslint:recommended",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": [
		"import", "jest"
	],
	"rules": {
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"quotes": [2, "single"],
		"semi": [2, "never"]
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true,
			"experimentalObjectRestSpread": true
		}
	},
	"env": {
		"browser": true,
		"jest/globals": true,
		"node": true
	}
}